# Firebase
FIREBASE_API_KEY=AIzaSyApq4W5ptjMTLZg0x33h5PFss0mh3U2r5k
FIREBASE_AUTH_DOMAIN=reelbaazar.firebaseapp.com
FIREBASE_PROJECT_ID=reelbaazar
FIREBASE_STORAGE_BUCKET=reelbaazar.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=330787312319
FIREBASE_APP_ID=1:330787312319:web:a7cf418df21b29262f2c0a
FIREBASE_MEASUREMENT_ID=G-LBYCHGMXFW

# Firebase Admin (Backend)
FIREBASE_SERVICE_ACCOUNT_KEY=backend/server/reelbaazar-firebase-adminsdk-fbsvc-a753df41b6.json

# Server
PORT=4000
NODE_ENV=development
